
.icon-ok:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
